node_modules/
**/node_modules/
.DS_Store
.vscode/
.env
.pytest_cache/
logs/*
output/*
tmp/*
data/raw/*
data/processed/*
*.log
!logs/.gitkeep
!output/.gitkeep
!tmp/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
